*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:
    "Yu Gothic",
    "Hiragino Sans",
    sans-serif;

  background:#f5f5f5;
  color:#222;

  line-height:1.8;
}

header{
  width:100%;

  background:white;

  border-bottom:1px solid #ddd;

  position:fixed;
  top:0;
  left:0;

  z-index:1000;
}

.header-inner{
  width:90%;
  max-width:1400px;

  height:75px;

  margin:auto;

  display:flex;
  align-items:center;
  justify-content:space-between;
}


.logo{
  font-size:2rem;
  font-weight:700;

  color:#222;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 50px;  
  width: auto;
}

.title-text {
  font-family: "Yu Gothic", serif;
  font-size: 32px;
  font-weight: bold;
}

nav ul{
  display:flex;
  align-items:center;

  gap:40px;

  list-style:none;
}

nav a{
  text-decoration:none;

  color:#222;

  font-size:1rem;
  font-weight:500;

  position:relative;

  transition:0.3s;
}


nav a:hover{
  color:#ff9800;
}

nav a.active{
  color:#ff9800;
}

nav a.active::after{
  content:"";

  position:absolute;

  left:0;
  bottom:-10px;

  width:100%;
  height:4px;

  background:#ff9800;
}

.hero{
  margin-top:75px;

  width:100%;
  min-height:650px;

  background:
    linear-gradient(
      135deg,
      #e8f1ff,
      #f5f5f5
    );

  display:flex;
  align-items:center;
  justify-content:center;

  text-align:center;

  padding:40px;
}

.hero-content h1{
  font-size:4rem;

  color:#ff9800;

  margin-bottom:25px;

  letter-spacing:2px;
}

.hero-content p{
  font-size:1.6rem;

  color:#444;
}

main{
  width:90%;
  max-width:1200px;

  margin:80px auto;
}

.about{
  background:white;

  padding:60px;

  border-radius:12px;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.08);
}

.about h2{
  font-size:2rem;

  margin-bottom:25px;

  color:#ff9800;
}

.about p{
  font-size:1.1rem;
}

@media(max-width:1000px){

  .header-inner{
    flex-direction:column;

    height:auto;

    padding:20px 0;
  }

  nav ul{
    margin-top:15px;

    gap:20px;

    flex-wrap:wrap;

    justify-content:center;
  }

  .hero{
    padding-top:120px;
  }

  .hero-content h1{
    font-size:2.3rem;
  }

  .hero-content p{
    font-size:1.2rem;
  }

  .about{
    padding:35px;
  }
}

.coming-soon{ 
    margin-top:200px; 
    text-align:center; 
    font-size:5rem; 
    font-weight:700; 
    color:#ff9800; 
    letter-spacing:5px; 
}